body {
    box-sizing: border-box;
    background-color: lightyellow;
}


/* Navbar */

.navigation {
    height: 70px !important;
}

.foodlogo {
    border-radius: 10px !important;
    margin-left: 10px !important;
}

.nav-link {
    color: rgb(250, 245, 245) !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.my-nav-link {
    padding: 10px !important;
}

.nav-option-name {
    padding-right: 200px;
}

.navbar-brand {
    color: rgba(230, 50, 5, 0.945) !important;
    font-size: 40px !important;
    font-weight: bold !important;
}

.navbar-collapse {
    background-color: #ec3e56d0 !important;
}


/* banner */

.banner {
    height: 750px;
    background-color: rgb(146, 141, 146);
    background-image: url('wepik-2021711-11156.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner_content {
    border-radius: 50px;
    background-color: rgba(241, 219, 248, 0.2);
    display: flex;
    align-items: center;
}

.padd {
    padding: 30px;
}

.banner_title {
    color: rgba(255, 255, 255, 0.801);
    font-size: 60px;
}

.btn a {
    text-decoration: none;
    color: white;
}


/* Food-cards */

.my-cards-container {
    margin-top: 20px !important;
}

.my-card1 {
    margin-bottom: 20px !important;
    border-radius: 12px !important;
    background-color: rgba(247, 155, 113, 0.74) !important;
}


/* Restuarant-Cards */

.title {
    text-align: center;
}

.destinations {
    padding-top: 50px;
    padding-bottom: 50px;
}

.my-card {
    background-color: bisque!important;
    width: 400px !important;
    margin-top: 30px !important;
}


/* css contact  */

.map {
    width: 100%;
    height: 200px;
}


/* footer */

#footer {
    text-align: center;
    background-image: radial-gradient(circle, rgba(223, 202, 202, 0.986), rgb(141, 137, 137))
}

.fcontainer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fheading {
    text-align: center;
}

.icons {
    width: 50px;
    display: inline-block;
    margin: 30px;
}

.facebook,
.instagram,
.twitter,
.linkedin {
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}

footer,
a {
    color: #030303;
    text-decoration: none;
}

.facebook:hover {
    border-radius: 25%;
    border-color: rgb(180, 175, 175);
    color: white;
    background: radial-gradient(circle at 30% 107%, #295ea3 0%, #3392d1 5%, #697eda 45%, #16a2e2 60%, #285AEB 90%);
}

.instagram:hover {
    border-radius: 25%;
    border-color: rgb(180, 175, 175);
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.twitter:hover {
    border-radius: 25%;
    border-color: rgb(180, 175, 175);
    color: white;
    background: radial-gradient(circle at 30% 107%, #36D8FF 0%, #285AEB 5%, #42aaf0 45%, #4489e4 60%, #3074a1 90%);
}

.linkedin:hover {
    border-radius: 25%;
    border-color: rgb(180, 175, 175);
    color: white;
    background: radial-gradient(circle at 30% 107%, #36D8FF 0%, #285AEB 5%, #42aaf0 45%, #4489e4 60%, #3074a1 90%);
}


/* css for mobile  */

@media (max-width:500px) {
    .banner-ad {
        height: 500px;
    }
    .banner {
        height: 600px;
    }
}